JIRA_BASE_URL=https://yourcompany.atlassian.net
JIRA_EMAIL=your.email@company.com
JIRA_API_TOKEN=<your_jira_api_token>
TELEGRAM_BOT_TOKEN=<your_telegram_bot_token>
TELEGRAM_ALLOWED_CHAT_ID=<your_telegram_chat_id>
POLL_INTERVAL_MINUTES=5
EOD_REPORT_HOUR=18
EOD_REPORT_MINUTE=0
ENABLE_JIRA_POLLING=0
ENABLE_EOD_REPORT=0
DEFAULT_PROJECT_KEY=STO
GROQ_API_KEY=<your_groq_api_key>
CLAUDE_WORK_DIR=C:\Users\Prathamesh\Documents
REPORT_PORT=4173
JIRA_ETA_FIELD=customfield_11292
JIRA_DEVELOPER_FIELD=customfield_xxxxx
JIRA_QA_FIELD=customfield_yyyyy
JIRA_DEVOPS_FIELD=customfield_zzzzz
